<!DOCTYPE html >
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="shortcut icon" href="/static/images/logo.png" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="/static/css/base.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/index.css"/>
    <title>优品购物</title>
    <script type="text/javascript" src="/static/js/jquery-3.6.1.min.js"></script>
    <script type="text/javascript" src="/static/js/jsPost.js"></script>
</head>
<body>

<!-- 快捷导航栏 -->
<div class="shortcut">
    <div class="wrapper clearfix">
        <ul class="fr">
            {% if customerName %}
                <li><a href="#">你好，{{ customerName }}</a></li>
                <li><a href="{% url 'logout' %}">退出登录</a></li>
                <li><a href="{% url 'order' customerID %}">我的订单</a></li>
                <li><a href="{% url 'shopping_cart' customerID %}">购物车</a></li>
            {% elif sellerName %}
                <li><a href="{% url 'seller_index' sellerID %}">商家{{ sellerName }}你好</a></li>
                <li><a href="{% url 'logout' %}">退出登录</a></li>
                <li><a href="{% url 'seller_index' sellerID %}">商品管理</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">你好，请登录</a></li>
                <li><a href="{% url 'register' %}" id="reg_Btn">免费注册</a></li>
            {% endif %}
            <li><a href="#">会员中心</a></li>
            <li><a href="#">帮助中心</a></li>
        </ul>
    </div>
</div>
    
<div class="top">
    
    <div class="logo">
        <a href="{% url 'index' %}"><img src="/static/picture/logo.png"/></a>
    </div>
    <div class="search">
        <form action="" method="get">
            <input id="keyword" type="text" value="" class="s_ipt" name="keyword"/>
            <input id="search" type="submit" value="搜索" class="s_btn"/>
        </form>
        <script type="text/javascript">
            $('#keyword').click(function () {
                this.select();
            })
            $('#search').click(function () {
                let keyword = $('#keyword').val();
                if (keyword === '') {
                    window.location.href = "/search"
                } else
                    window.location.href = "/search/" + keyword
                return false;
            })
        </script>
        <span class="fl"><a href="#">咖啡</a><a href="#">iphone12</a><a href="#">新鲜美食</a><a href="#">蛋糕</a><a href="#">日用品</a><a
                href="#">连衣裙</a></span>
    </div>
    
    {%if sellerID%}
    <div></div>
    {%elif customerID%}
    {% with intendList=customer.intendedgoods_set.all %}
    <div class="i_car">
        <div class="car_t">购物车 [ <span>{{ intendList|length }}</span> ]</div>
        <div class="car_bg">
            <!--Begin 购物车已登录 Begin-->
            <ul class="cars">
                 {% for intendedGood in intendList %}
                <li>
                    <div class="img"><a href="#"><img src="/static/picture/{{intendedGood.goodsID.photo_set.first.photoPath}}" width="58" height="58"/></a></div>
                    <div class="name"><a href="#">{{intendedGood.goodsID.goodsName}}</a></div>
                    <div class="price"><font color="#ff4e00">￥{{intendedGood.goodsID.goodsPrice}}</font> X{{intendedGood.quantity}}</div>
                </li>
                {% endfor %}
            </ul>
            <div class="price_a"><a href="{% url 'shopping_cart' customerID %}">去购物车结算</a></div>
            <!--End 购物车已登录 End-->
        </div>   
    </div>
    {% endwith %}
    {% else %}
     <div class="i_car">
        <div class="car_t">购物车</div>
        <div class="car_bg">
            <div class="un_login">
                还未登录！
                <a href="{% url 'login' %}" style="color:#ff4e00;">马上登录</a> 
                查看购物车！
            </div>
        </div>   
    </div>
    {%endif%}
</div>
    
<!--End Header End-->
<!--Begin Menu Begin-->
<div class="menu_bg">
    <div class="menu">
        <!--Begin 商品分类详情 Begin-->
        <div class="nav">
            <div class="nav_t">全部商品分类</div>
            <div class="leftNav">
                <ul>
                    <li>
                        <div class="fj">
                            <span class="n_img"><span></span><img src="/static/picture/nav1.png"/></span>
                            <span class="fl">食品</span>
                        </div>
                    </li>
                    <li>
                        <div class="fj">
                            <span class="n_img"><span></span><img src="/static/picture/nav2.png"/></span>
                            <span class="fl">图书</span>
                        </div>
                    </li>
                    <li>
                        <div class="fj">
                            <span class="n_img"><span></span><img src="/static/picture/nav3.png"/></span>
                            <span class="fl">医药</span>
                        </div>
                    </li>
                    <li>
                        <div class="fj">
                            <span class="n_img"><span></span><img src="/static/picture/nav4.png"/></span>
                            <span class="fl">运动</span>
                        </div>
                    </li>
                    <li>
                        <div class="fj">
                            <span class="n_img"><span></span><img src="/static/picture/nav5.png"/></span>
                            <span class="fl">日用</span>
                        </div>
                    </li>
                    <li>
                        <div class="fj">
                            <span class="n_img"><span></span><img src="/static/picture/nav6.png"/></span>
                            <span class="fl">女装</span>
                        </div>
                    </li>
                    <li>
                        <div class="fj">
                            <span class="n_img"><span></span><img src="/static/picture/nav7.png"/></span>
                            <span class="fl">饰品</span>
                        </div>
                    </li>
                    <li>
                        <div class="fj">
                            <span class="n_img"><span></span><img src="/static/picture/nav8.png"/></span>
                            <span class="fl">男装</span>
                        </div>
                    </li>
                    <li>
                        <div class="fj">
                            <span class="n_img"><span></span><img src="/static/picture/nav9.png"/></span>
                            <span class="fl">电子</span>
                        </div>
                    </li>
                    <li>
                        <div class="fj">
                            <span class="n_img"><span></span><img src="/static/picture/nav10.png"/></span>
                            <span class="fl">其它</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <script>
            $('div.fj').click(function(){
                let goodsType = this.querySelector('span.fl').innerText
                jsPost('{% url 'search_nothing' %}', {'goodsType' : goodsType, csrfmiddlewaretoken: '{{ csrf_token }}'})
            })
        </script>

        <!--End 商品分类详情 End-->
        <ul class="menu_r">
            <li><a href="#">首页</a></li>
            <li><a href="#">美食</a></li>
            <li><a href="#">生鲜</a></li>
            <li><a href="#">家居</a></li>
            <li><a href="#">女装</a></li>
            <li><a href="#">美妆</a></li>
            <li><a href="#">数码</a></li>
            <li><a href="#">团购</a></li>
        </ul>
        <div class="m_ad">元旦送好礼！</div>
    </div>
</div>
<!--End Menu End-->
<div class="i_bg bg_color">
    <div class="i_ban_bg">
        <!--Begin Banner Begin-->
        <div class="banner">
            <div class="top_slide_wrap">
                <ul class="slide_box bxslider">
                    <li><img src="/static/picture/ban1.jpg" width="740" height="401"/></li>
                    <li><img src="/static/picture/ban1.jpg" width="740" height="401"/></li>
                    <li><img src="/static/picture/ban1.jpg" width="740" height="401"/></li>
                </ul>
            </div>
        </div>
        <script type="text/javascript">
            //var jq = jQuery.noConflict();
            (function () {
                $(".bxslider").bxSlider({
                    auto: true,
                    prevSelector: jq(".top_slide_wrap .op_prev")[0], nextSelector: jq(".top_slide_wrap .op_next")[0]
                });
            })();
        </script>
        <!--End Banner End-->
        <div class="inews">
            <div class="news_t">
                新闻资讯
            </div>
            <ul>
                <li><span>[ 特惠 ]</span><a href="#">掬一轮明月 表无尽惦念</a></li>
                <li><span>[ 公告 ]</span><a href="#">好奇金装成长裤新品上市</a></li>
                <li><span>[ 特惠 ]</span><a href="#">大牌闪购 · 抢！</a></li>
                <li><span>[ 公告 ]</span><a href="#">发福利 买车就抢千元油卡</a></li>
                <li><span>[ 公告 ]</span><a href="#">家电低至五折</a></li>
            </ul>

        </div>
    </div>
  
    <!--Begin 进口 生鲜 Begin-->
    <div class="i_t mar_10">
        <span class="floor_num">1F</span>
        <span class="fl">食品 <b>·</b> 饮料</span>
        <span class="i_mores fr"><a href="#">进口咖啡</a>&nbsp; &nbsp; &nbsp; <a href="#">进口酒</a>&nbsp; &nbsp; &nbsp; <a
                href="#">进口母婴</a>&nbsp; &nbsp; &nbsp; <a href="#">新鲜蔬菜</a>&nbsp; &nbsp; &nbsp; <a
                href="#">新鲜水果</a></span>
    </div>
    <div class="content">
        <div class="fresh_left">
            <div class="fre_ban">
                <div id="imgPlay1">
                    <ul class="imgs" id="actor1">
                        <li><a href="#"><img src="/static/picture/fre_r.jpg" width="211" height="286"/></a></li>
                        <li><a href="#"><img src="/static/picture/fre_r.jpg" width="211" height="286"/></a></li>
                        <li><a href="#"><img src="/static/picture/fre_r.jpg" width="211" height="286"/></a></li>
                    </ul>
                </div>
            </div>
            <div class="fresh_txt">
                <div class="fresh_txt_c">
                    <a href="#">进口水果</a><a href="#">奇异果</a><a href="#">西柚</a><a href="#">海鲜水产</a><a href="#">品质牛肉</a><a
                        href="#">奶粉</a><a href="#">鲜活禽蛋</a><a href="#">进口酒</a><a href="#">进口奶粉</a><a href="#">鲜活禽蛋</a>
                </div>
            </div>
        </div>
        <div class="fresh_mid">
             <ul>
                {% for data in type3 %}   
                <li>
                    <div class="name"><a href="{% url 'goods' data.goodsID %}">&nbsp;&nbsp;&nbsp;&nbsp;{{data.goodsName}}</a></div>
                    <div class="price">
                        <font><span> &nbsp;&nbsp;&nbsp;￥{{data.goodsPrice}}</span></font> &nbsp; 
                    </div>
                    <div class="img"><a href="{% url 'goods' data.goodsID %}"><img src="/static/picture/{{data.photo_set.first.photoPath}}" width="185" height="155"/></a>
                    </div>
                </li>
                {% endfor %}       
            </ul>
        </div>
        <div class="fresh_right">
            <ul>
                <li><a href="#"><img src="/static/picture/fre_b1.jpg" width="260" height="220"/></a></li>
                <li><a href="#"><img src="/static/picture/fre_b2.jpg" width="260" height="220"/></a></li>
            </ul>
        </div>
    </div>
    <!--End 进口 生鲜 End-->
    <!--Begin 食品饮料 Begin-->
    <div class="i_t mar_10">
        <span class="floor_num">2F</span>
        <span class="fl">女装女靴</span>
        <span class="i_mores fr"><a href="#">咖啡</a>&nbsp; &nbsp; | &nbsp; &nbsp;<a href="#">休闲零食</a>&nbsp; &nbsp; | &nbsp; &nbsp;<a
                href="#">饼干糕点</a>&nbsp; &nbsp; | &nbsp; &nbsp;<a href="#">冲饮谷物</a>&nbsp; &nbsp; | &nbsp; &nbsp;<a
                href="#">营养保健</a></span>
    </div>
    <div class="content">
        <div class="food_left">
            <div class="food_ban">
                <div id="imgPlay2">
                    <ul class="imgs" id="actor2">
                        <li><a href="#"><img src="/static/picture/food_r.jpg" width="211" height="286"/></a></li>
                        <li><a href="#"><img src="/static/picture/food_r.jpg" width="211" height="286"/></a></li>
                        <li><a href="#"><img src="/static/picture/food_r.jpg" width="211" height="286"/></a></li>
                    </ul>
                </div>
            </div>
            <div class="fresh_txt">
                <div class="fresh_txt_c">
                    <a href="#">饼干糕点</a><a href="#">休闲零食</a><a href="#">饮料果汁</a><a href="#">牛奶乳品</a><a href="#">冲饮谷物</a><a
                        href="#">营养保健</a><a href="#">冲饮谷物</a><a href="#">营养保健</a>
                </div>
            </div>
        </div>
        <div class="fresh_mid">
            <ul>
                {% for data in type1 %}   
                <li>
                    <div class="name">
                        <a href="{% url 'goods' data.goodsID %}">&nbsp;&nbsp;&nbsp;&nbsp;{{data.goodsName}}</a>
                    </div>
                    <div class="price">
                        <font><span> &nbsp;&nbsp;&nbsp;￥{{data.goodsPrice}}</span></font> &nbsp; 
                    </div>
                    <div class="img">
                        <a href="{% url 'goods' data.goodsID %}">
                            <img src="/static/picture/{{data.photo_set.first.photoPath}}" width="185" height="155"/>
                        </a>
                    </div>
                </li>
                {% endfor %}       
            </ul>
        </div>
        <div class="fresh_right">
            <ul>
                <li><a href="#"><img src="/static/picture/food_b1.jpg" width="260" height="220"/></a></li>
                <li><a href="#"><img src="/static/picture/food_b2.jpg" width="260" height="220"/></a></li>
            </ul>
        </div>
    </div>
    <!--End 食品饮料 End-->
    <!--Begin 个人美妆 Begin-->
    <div class="i_t mar_10">
        <span class="floor_num">3F</span>
        <span class="fl">男装男鞋</span>
        <span class="i_mores fr"><a href="#">洗发护发</a>&nbsp; &nbsp; | &nbsp; &nbsp;<a href="#">面膜</a>&nbsp; &nbsp; | &nbsp; &nbsp;<a
                href="#">洗面奶</a>&nbsp; &nbsp; | &nbsp; &nbsp;<a href="#">香水</a>&nbsp; &nbsp; | &nbsp; &nbsp;<a href="#">沐浴露</a></span>
    </div>
    <div class="content">
        <div class="make_left">
            <div class="make_ban">
                <div id="imgPlay3">
                    <ul class="imgs" id="actor3">
                        <li><a href="#"><img src="/static/picture/make_r.jpg" width="211" height="286"/></a></li>
                        <li><a href="#"><img src="/static/picture/make_r.jpg" width="211" height="286"/></a></li>
                        <li><a href="#"><img src="/static/picture/make_r.jpg" width="211" height="286"/></a></li>
                    </ul>
                </div>
            </div>
            <div class="fresh_txt">
                <div class="fresh_txt_c">
                    <a href="#">洗发护发</a><a href="#">牙刷牙膏</a><a href="#">面膜</a><a href="#">补水面膜</a><a href="#">香水</a><a
                        href="#">面霜</a><a href="#">洗面奶</a><a href="#">脱毛膏</a><a href="#">沐浴露</a>
                </div>
            </div>
        </div>
        <div class="fresh_mid">
            <ul>
                {% for data in type2 %}   
                <li>
                    <div class="name"><a href="{% url 'goods' data.goodsID %}">&nbsp;&nbsp;&nbsp;&nbsp;{{data.goodsName}}</a></div>
                    <div class="price">
                        <font><span> &nbsp;&nbsp;&nbsp;￥{{data.goodsPrice}}</span></font> &nbsp; 
                    </div>
                    <div class="img"><a href="{% url 'goods' data.goodsID %}"><img src="/static/picture/{{data.photo_set.first.photoPath}}" width="185" height="155"/></a>
                    </div>
                </li>
                {% endfor %}       
            </ul>
        </div>
        <div class="fresh_right">
            <ul>
                <li><a href="#"><img src="/static/picture/make_b1.jpg" width="260" height="220"/></a></li>
                <li><a href="#"><img src="/static/picture/make_b2.jpg" width="260" height="220"/></a></li>
            </ul>
        </div>
    </div>
    <!--End 个人美妆 End-->
    <div class="content mar_20">
        <img src="/static/picture/mban_1.jpg" width="1200" height="110"/>
    </div>
    <!--Begin 母婴玩具 Begin-->
    <div class="i_t mar_10">
        <span class="floor_num">4F</span>
        <span class="fl">医药健康</span>
        <span class="i_mores fr"><a href="#">营养品</a>&nbsp; &nbsp; | &nbsp; &nbsp;<a href="#">孕妈背带裤</a>&nbsp; &nbsp; | &nbsp; &nbsp;<a
                href="#">儿童玩具</a>&nbsp; &nbsp; | &nbsp; &nbsp;<a href="#">婴儿床</a>&nbsp; &nbsp; | &nbsp; &nbsp;<a
                href="#">喂奶器</a></span>
    </div>
    <div class="content">
        <div class="baby_left">
            <div class="baby_ban">
                <div id="imgPlay4">
                    <ul class="imgs" id="actor4">
                        <li><a href="#"><img src="/static/picture/baby_r.jpg" width="211" height="286"/></a></li>
                        <li><a href="#"><img src="/static/picture/baby_r.jpg" width="211" height="286"/></a></li>
                        <li><a href="#"><img src="/static/picture/baby_r.jpg" width="211" height="286"/></a></li>
                    </ul>
    
                </div>
            </div>
            <div class="fresh_txt">
                <div class="fresh_txt_c">
                    <a href="#">孕妈必备</a><a href="#">儿童玩具</a><a href="#">重装童鞋</a><a href="#">辅助食品</a><a href="#">奶粉</a><a
                        href="#">鲜活禽蛋</a><a href="#">维生素</a><a href="#">重装童鞋</a><a href="#">辅助食品</a>
                </div>
            </div>
        </div>
        <div class="fresh_mid">
           <ul>
                {% for data in type4 %}   
                <li>
                    <div class="name"><a href="{% url 'goods' data.goodsID %}">&nbsp;&nbsp;&nbsp;&nbsp;{{data.goodsName}}</a></div>
                    <div class="price">
                        <font><span> &nbsp;&nbsp;&nbsp;￥{{data.goodsPrice}}</span></font> &nbsp; 
                    </div>
                    <div class="img"><a href="{% url 'goods' data.goodsID %}"><img src="/static/picture/{{data.photo_set.first.photoPath}}" width="185" height="155"/></a>
                    </div>
                </li>
                {% endfor %}       
            </ul>
        </div>
        <div class="fresh_right">
            <ul>
                <li><a href="#"><img src="/static/picture/baby_b1.jpg" width="260" height="220"/></a></li>
                <li><a href="#"><img src="/static/picture/baby_b2.jpg" width="260" height="220"/></a></li>
            </ul>
        </div>
    </div>
    <!--End 母婴玩具 End-->
    <!--Begin 家居生活 Begin-->
    <div class="i_t mar_10">
        <span class="floor_num">5F</span>
        <span class="fl">家居日用</span>
        <span class="i_mores fr"><a href="#">床上用品</a>&nbsp; &nbsp; | &nbsp; &nbsp;<a href="#">家纺布艺</a>&nbsp; &nbsp; | &nbsp; &nbsp;<a
                href="#">餐具</a>&nbsp; &nbsp; | &nbsp; &nbsp;<a href="#">沙发</a>&nbsp; &nbsp; | &nbsp; &nbsp;<a href="#">汽车用品</a></span>
    </div>
    <div class="content">
        <div class="home_left">
            <div class="home_ban">
                <div id="imgPlay5">
                    <ul class="imgs" id="actor5">
                        <li><a href="#"><img src="/static/picture/home_r.jpg" width="211" height="286"/></a></li>
                        <li><a href="#"><img src="/static/picture/home_r.jpg" width="211" height="286"/></a></li>
                        <li><a href="#"><img src="/static/picture/home_r.jpg" width="211" height="286"/></a></li>
                    </ul>
                </div>
            </div>
            <div class="fresh_txt">
                <div class="fresh_txt_c">
                    <a href="#">床上用品</a><a href="#">家纺布艺</a><a href="#">餐具水具</a><a href="#">锅具厨具</a><a href="#">沙发</a><a
                        href="#">书柜</a><a href="#">狗粮</a><a href="#">家装建材</a><a href="#">汽车用品</a>
                </div>
            </div>
        </div>
        <div class="fresh_mid">
            <ul>
                {% for data in type5 %}   
                <li>
                    <div class="name"><a href="{% url 'goods' data.goodsID %}">&nbsp;&nbsp;&nbsp;&nbsp;{{data.goodsName}}</a></div>
                    <div class="price">
                        <font><span> &nbsp;&nbsp;&nbsp;￥{{data.goodsPrice}}</span></font> &nbsp; 
                    </div>
                    <div class="img"><a href="{% url 'goods' data.goodsID %}"><img src="/static/picture/{{data.photo_set.first.photoPath}}" width="185" height="155"/></a>
                    </div>
                </li>
                {% endfor %}       
            </ul>
        </div>
        <div class="fresh_right">
            <ul>
                <li><a href="#"><img src="/static/picture/home_b1.jpg" width="260" height="220"/></a></li>
                <li><a href="#"><img src="/static/picture/home_b2.jpg" width="260" height="220"/></a></li>
            </ul>
        </div>
    </div>
    <!--End 家居生活 End-->
    <!--Begin 数码家电 Begin-->
    <div class="i_t mar_10">
        <span class="floor_num">6F</span>
        <span class="fl">数码家电</span>
        <span class="i_mores fr"><a href="#">手机</a>&nbsp; &nbsp; | &nbsp; &nbsp;<a href="#">苹果</a>&nbsp; &nbsp; | &nbsp; &nbsp;<a
                href="#">华为手机</a>&nbsp; &nbsp; | &nbsp; &nbsp;<a href="#">洗衣机</a>&nbsp; &nbsp; | &nbsp; &nbsp;<a
                href="#">数码配件</a></span>
    </div>
    <div class="content">
        <div class="tel_left">
            <div class="tel_ban">
                <div id="imgPlay6">
                    <ul class="imgs" id="actor6">
                        <li><a href="#"><img src="/static/picture/tel_r.jpg" width="211" height="286"/></a></li>
                        <li><a href="#"><img src="/static/picture/tel_r.jpg" width="211" height="286"/></a></li>
                        <li><a href="#"><img src="/static/picture/tel_r.jpg" width="211" height="286"/></a></li>
                    </ul>
                </div>
            </div>
            <div class="fresh_txt">
                <div class="fresh_txt_c">
                    <a href="#">手机</a><a href="#">平板电脑</a><a href="#">空调</a><a href="#">合约机</a><a href="#">电风扇</a><a
                        href="#">数码配件</a><a href="#">洗衣机</a><a href="#">电视</a><a href="#">充电器</a><a href="#">耳线</a>
                </div>
            </div>
        </div>
        <div class="fresh_mid">
            <ul>
                {% for data in type8 %}   
                <li>
                    <div class="name"><a href="{% url 'goods' data.goodsID %}">&nbsp;&nbsp;&nbsp;&nbsp;{{data.goodsName}}</a></div>
                    <div class="price">
                        <font><span> &nbsp;&nbsp;&nbsp;￥{{data.goodsPrice}}</span></font> &nbsp; 
                    </div>
                    <div class="img"><a href="{% url 'goods' data.goodsID %}"><img src="/static/picture/{{data.photo_set.first.photoPath}}" width="185" height="155"/></a>
                    </div>
                </li>
                {% endfor %}       
            </ul>
        </div>
        <div class="fresh_right">
            <ul>
                <li><a href="#"><img src="/static/picture/tel_b1.jpg" width="260" height="220"/></a></li>
                <li><a href="#"><img src="/static/picture/tel_b2.jpg" width="260" height="220"/></a></li>
            </ul>
        </div>
    </div>
    <!--End 数码家电 End-->
   
    <!--Begin Footer Begin -->
    <div class="b_btm_bg b_btm_c">
        <div class="b_btm">
            <table border="0" style="width:210px; height:62px; float:left; margin-left:75px; margin-top:30px;"
                   cellspacing="0" cellpadding="0">
                <tr>
                    <td width="72"><img src="/static/picture/b1.png" width="62" height="62"/></td>
                    <td><h2>正品保障</h2>正品行货 放心购买</td>
                </tr>
            </table>
            <table border="0" style="width:210px; height:62px; float:left; margin-left:75px; margin-top:30px;"
                   cellspacing="0" cellpadding="0">
                <tr>
                    <td width="72"><img src="/static/picture/b2.png" width="62" height="62"/></td>
                    <td><h2>满额包邮</h2>满额包邮 免运费</td>
                </tr>
            </table>
            <table border="0" style="width:210px; height:62px; float:left; margin-left:75px; margin-top:30px;"
                   cellspacing="0" cellpadding="0">
                <tr>
                    <td width="72"><img src="/static/picture/b3.png" width="62" height="62"/></td>
                    <td><h2>天天低价</h2>天天低价 畅选无忧</td>
                </tr>
            </table>
            <table border="0" style="width:210px; height:62px; float:left; margin-left:75px; margin-top:30px;"
                   cellspacing="0" cellpadding="0">
                <tr>
                    <td width="72"><img src="/static/picture/b4.png" width="62" height="62"/></td>
                    <td><h2>准时送达</h2>收货时间由你做主</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="b_nav">
        <dl>
            <dt><a href="#">新手上路</a></dt>
            <dd><a href="#">售后流程</a></dd>
            <dd><a href="#">购物流程</a></dd>
            <dd><a href="#">订购方式</a></dd>
            <dd><a href="#">隐私声明</a></dd>
            <dd><a href="#">推荐分享说明</a></dd>
        </dl>
        <dl>
            <dt><a href="#">配送与支付</a></dt>
            <dd><a href="#">货到付款区域</a></dd>
            <dd><a href="#">配送支付查询</a></dd>
            <dd><a href="#">支付方式说明</a></dd>
        </dl>
        <dl>
            <dt><a href="#">会员中心</a></dt>
            <dd><a href="#">资金管理</a></dd>
            <dd><a href="#">我的收藏</a></dd>
            <dd><a href="#">我的订单</a></dd>
        </dl>
        <dl>
            <dt><a href="#">服务保证</a></dt>
            <dd><a href="#">退换货原则</a></dd>
            <dd><a href="#">售后服务保证</a></dd>
            <dd><a href="#">产品质量保证</a></dd>
        </dl>
        <dl>
            <dt><a href="#">联系我们</a></dt>
            <dd><a href="#">网站故障报告</a></dd>
            <dd><a href="#">购物咨询</a></dd>
            <dd><a href="#">投诉与建议</a></dd>
        </dl>
    </div> 
    <div class="btmbg">
        <div class="btm">
            Copyright © 2022-2023 优品购物 All Rights Reserved.复制必究,
            Technical Support: Group <br/>
            <img src="/static/picture/b_1.gif" width="98" height="33"/><img src="/static/picture/b_2.gif" width="98"
                                                                            height="33"/><img
                src="/static/picture/b_3.gif" width="98" height="33"/><img src="/static/picture/b_4.gif" width="98"
                                                                           height="33"/><img
                src="/static/picture/b_5.gif" width="98" height="33"/><img src="/static/picture/b_6.gif" width="98"
                                                                           height="33"/>
        </div>
    </div>
    <!--End Footer End -->
</div>

</body>
</html>