<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="shortcut icon" href="../static/images/logo.png" type="image/x-icon">
	<link type="text/css" rel="stylesheet" href="../static/css/regist.css" />
  <style>

  </style>

<title>优品注册</title>
</head>
{% csrf_token %}
<body>

<!--Begin Regist Begin-->
<div class="log_bg">
    <div class="top">
        <div class="logo"><a href="index.html"><img src="../static/picture/logo.png" /></a></div>
    </div>
	<div class="register">
    	<div class="log_img"><img src="../static/picture/l_img.png" width="611" height="425" /></div>
		<div class="reg_c">
        	<form action="" method="post">
            <table style="width:420px; font-size:14px; margin:20px;">
              <tr height="50" >
              	<td width="95">&nbsp;</td>
                <td>
                	<span class="fl" style="font-size:24px;">注册</span>
                    <span class="fr">已有商城账号，<a href="login.html" style="color:#ff4e00;">我要登录</a></span>
                </td>
              </tr>
              <tr height="50">
                <td><text style="color:#ff4e00;">*</text>&nbsp;用户名 &nbsp;</td>
                <td><input type="text" value="" class="l_user" name="customerName"/></td>
              </tr>
              <tr height="50">
                <td><text style="color:#ff4e00;">*</text>&nbsp;密码 &nbsp;</td>
                <td><input type="password" value="" class="l_pwd" name="password"/></td>
              </tr>
              <tr height="50">
                <td><text style="color:#ff4e00;">*</text>&nbsp;确认密码 &nbsp;</td>
                <td><input type="password" value="" class="l_pwd"/></td>
              </tr>
              <tr height="50">
                <td><text style="color:#ff4e00;">*</text>&nbsp;邮箱 &nbsp;</td>
                <td><input type="text" value="" class="l_email" name="mailAddress"/></td>
              </tr>
              <tr height="50">
                <td><text style="color:#ff4e00;">*</text>&nbsp;手机 &nbsp;</td>
                <td><input type="text" value="" class="l_tel" name="phoneNumber"/></td>
              </tr>
              <tr>
              	<td>&nbsp;</td>
                <td style="font-size:12px; padding-top:20px;">
                	<span style="font-family:'宋体';" class="fl">
                    	<label class="r_rad"><input type="checkbox" /></label><label class="r_txt">我已阅读并接受《用户协议》</label>
                    </span>
                </td>
              </tr>
              <tr height="60">
              	<td>&nbsp;</td>
                <td><input type="submit" value="立即注册" class="log_btn" /></td>
              </tr>
            </table>
            </form>
        </div>
    </div>
</div>
<!--End Login End-->

</body>
</html>
