<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <link rel="shortcut icon" href="/static/images/logo.png" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="/static/css/base.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/cart.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/popBox.css">
    <link type="text/css" rel="stylesheet" href="/static/css/popBuy.css"/>

    <script type="text/javascript" src="/static/js/jquery-3.6.1.min.js"></script>
    <script type="text/javascript" src="/static/js/jsPost.js"></script>
     <script type="text/javascript" src="/static/js/popBox.js"></script>
    <script type="text/javascript" src="/static/js/popBuy.js"></script>

    <title>优品购物</title>
</head>
<body>
{# 导航栏 #}
<div class="shortcut">
    <div class="wrapper clearfix">
        <ul class="fr">
            {% if customerName %}
                <li><a href="#">你好，{{ customerName }}</a></li>
                <li><a href="{% url 'logout' %}">退出登录</a></li>
                <li><a href="{% url 'order' customerID %}">我的订单</a></li>
            {% elif sellerName %}
                <li><a href="{% url 'goods_management' sellerID %}">商家{{ sellerName }}你好</a></li>
                <li><a href="{% url 'logout' %}">退出登录</a></li>
                <li><a href="{% url 'goods_management' sellerID %}">商品管理</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">你好，请登录</a></li>
                <li><a href="{% url 'register' %}" id="reg_Btn">免费注册</a></li>
            {% endif %}
            <li><a href="{% url 'index' %}">返回主页</a></li>
            <li><a href="#">帮助中心</a></li>
        </ul>
    </div>
</div>
<div class="top_bg">
</div>
{# 购物车列表 #}
<div class="content_box">
    <!--<form action="" method="post"> 不使用表单的原因是，不能内部提交，不能在表单内部提交一个post请求-->
    {#{% csrf_token %}#} <!--暂时先注释掉-->
    <div class="cart_listbox">
        <div width="100%">
             <div class="goodsNav">
            <thead>
                <tr>
                    <div width='10%'>
                        <input class = "allcheck" name="allCheckbox" type="checkbox" id="all"
                               onclick="allCheck('allCheckbox','checkItem')">
                    </div>
                    <div width='10%'>商品名称</div>
                    <div width='20%'>商品缩略图</div>
                    <div width='10%'>&nbsp;&nbsp;商品单价</div>
                    <div width='20%'>商品数量</div>
                    <div width='20%'>商品小计</div>
                    <div width='20%'>操作</div>
                    </tr>
            </thead>
          </div>
                 <tbody id="j_tb">
            {% for intendedGoods in intendedGoodsList %}
                {% with goods=intendedGoods.goodsID %}
                    <tr id="intendedGood_{{ intendedGoods.id }}">
                        <div class="intendedGood" id="intendedGoods_{{ intendedGoods.id }}">
                        {# 选择框 #}
                        <div>
                            <input class="checkItem" name="name_{{ goods.goodsID }}" value="{{ intendedGoods.id }}"
                                   type="checkbox"
                                   style="margin-left: 40px; width: 24px; height: 24px;">
                        </div>

                        {# 商品名称 #}
                        <div><a href="{% url 'goods' goods.goodsID%}">{{ goods.goodsName }}</a></div>

                        {# 缩略图 #}
                        <div><a href="{% url 'goods' goods.goodsID%}"><img src="/static/picture/{{ goods.photo_set.first.photoPath }}" width="100" height="100"/></a>
                        </div>
                        {# 单 价 #}
                        <div class="goodsPrice">￥{{ goods.goodsPrice }}元</div>
                        {# 商品数量 #}
                        <div>
                            &nbsp;<button class="btn1" formaction="">-</button>
                            <span class="text1">{{ intendedGoods.quantity }}</span>
                            <button class="btn1" formaction="">+</button>
                        </div>
                        {# 计算总价格 #}
                        <div>&nbsp;&nbsp;&nbsp;￥<span class="the_price">{% widthratio intendedGoods.quantity 1 goods.goodsPrice %}</span>
                        </div>
                        <div>
                            &nbsp;&nbsp;<button id="delete_{{ intendedGoods.id }}" class="deleteFromCart">删除</button>
                        </div>
                        </div>
                    </tr>
                {% endwith %}
            {% empty %}
                <tr>
                    <td colspan="6" style="text-align: center;">购物车空空如也~~，请快去购物吧！</td>
                </tr>
            {% endfor %}
            </tbody>
        </div>
      <div class="clearcart">
            <button id="deleteCartAll" class="clearbtn">清空购物车</button>
        </div>
        <div class="goon">
       
        
        <div class="totalprice" id="totalPrice">
            总计0元 <!--根据有没有选中来异步请求计算总价，这里不会了-->
        </div>

        <div class="confirm_order">
            <input id="buyFromCart" type="submit" value="立即下单" class="orderbtn"/>
        </div>
    </div>
    </div>
</div>


<div id="popBox">
    <div id="msgContent"></div>
    <div class="close">
        <button onclick="closePopBox()">确定</button>
    </div>
</div>

<!-- 点击“购买”时，弹窗购买 -->
<div class="popBuy" id="popBuy">
    <div class="cancleBox" onclick="closePopBuy()"></div>
        <!-- 收货地址 -->
    <div class="popcontent">
        <div class="destAddresdd">
            {% if shipToAddress %}
                <span>*</span>&nbsp;收货地址&nbsp;&nbsp;
                <input id="shipToAddress" type="text" placeholder="请输入收货地址" value="{{ shipToAddress }}">
            {% else %}
                <span>*</span>&nbsp;收货地址&nbsp;&nbsp;<input id="shipToAddress" type="text" placeholder="请输入收货地址">
            {% endif %}
        </div>
        <!-- 付款密码 -->
        <div class="payPwd">
            <span>*</span>&nbsp;付款密码&nbsp;&nbsp;<input id="password" type="text" name="" placeholder="请输入你的密码">
        </div>
        <!-- 付款按钮 -->
        <div class="payBtn">
            <button class="paybtn" id="buyGoods">确认支付</button>
        </div>
    </div>
</div>
<!-- 这是遮罩层，作用是在出现弹窗的时候，覆盖全屏，让用户只能点击弹窗内容 -->
<div id="hideBg2"></div>
</body>

<script>
    let objMsgContent = $('#msgContent');
    {% if msg %}
        objMsgContent.text('{{ msg }}')
        openPopBox();
    {% endif %}
    
    $('.allcheck').click(function () {
        // 异步计算
        let check_item_list = document.querySelectorAll('.checkItem');
        let total_price = 0;
        for (let i = 0; i !== check_item_list.length; ++i) {
            const node = check_item_list[i];
            if (node.checked === true) {
                const node_tr = node.parentNode.parentNode;
                const node_the_price = node_tr.querySelector('.the_price');
                const node_price = parseFloat(node_the_price.innerText);
                total_price += node_price;
            }
        }
        $('#totalPrice').text('总计' + total_price + '元');
    })
    
    $('.checkItem').click(function () {
        // 异步计算
        let check_item_list = document.querySelectorAll('.checkItem');
        let total_price = 0;
        for (let i = 0; i !== check_item_list.length; ++i) {
            const node = check_item_list[i];
            if (node.checked === true) {
                const node_tr = node.parentNode.parentNode;
                const node_the_price = node_tr.querySelector('.the_price');
                const node_price = parseFloat(node_the_price.innerText);
                total_price += node_price;
            }
        }
        $('#totalPrice').text('总计' + total_price + '元');
    })

    $('#buyFromCart').click(function () { showPopBuy(); })

    $('#deleteCartAll').click(function () {
        let post_data = {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            'behavior': 'deleteCartAll',

        }
        jsPost('', post_data)
    })

    $('.deleteFromCart').click(function () {
        let now_id = this.id;
        let intended_goods_id = now_id.substring(now_id.indexOf('_') + 1);
        let post_data = {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            'behavior': 'delete',
            'intendedGoodsId': intended_goods_id,
        }
        jsPost('', post_data);
    })

    function allCheck(allBox, itemBox) {

        if ($("input[name=" + allBox + "]").prop("checked")) {
            $("input[class=" + itemBox + "]").prop("checked", true);
        } else {
            $("input[class=" + itemBox + "]").prop("checked", false);
        }
    }

    $('.btn1').click(function(){
        let obj_tr = this.parentNode.parentNode;
        let obj_the_price = obj_tr.querySelector('.the_price');
        const goodsPrice = parseFloat(obj_tr.querySelector('.goodsPrice').innerText.replace(/[￥元]/g, ''));
        let obj_quantity = this.parentNode.querySelector('.text1');
        let now_id = obj_tr.id.substring(obj_tr.id.indexOf('_') + 1);
        let ajaxSettings = {
                    type: 'POST',
                    url: '',
                    data:{
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        'intendedGoodsId': now_id,
                    },
                }
        if(this.innerText === '-'){
            if(obj_quantity.innerText === '1'){
                // 相当于一次delete
                let post_data = {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    'behavior': 'delete',
                    'intendedGoodsId': now_id,
                }
                jsPost('', post_data);
            }
            else{
                ajaxSettings['data']['behavior'] = 'minus';
            }
        }
        else{
            ajaxSettings['data']['behavior'] = 'add';
        }

        $.ajax(ajaxSettings).done(function(args){
            obj_quantity.innerText = args;
            obj_the_price.innerText = parseInt(args) * goodsPrice;
        })
    })

    $('#buyGoods').click(function(){
        let shipToAddress = document.getElementById('shipToAddress').value;
        let password = document.getElementById('password').value;
        if (!shipToAddress.match(/^[\u4E00-\u9FA5a-zA-Z0-9_ ，,]{5,80}$/)) {
            objMsgContent.text('收货地址不合法，不能为空，不能输入特殊符号长度需要小于80');
            closePopBuy();
            openPopBox();
        } else if (!password.match(/^[0-9]{6,20}$/)) {
            objMsgContent.text('密码格式不合法，只能输入6到20位的数字');
            closePopBuy();
            openPopBox();
        }
        else{
           buyIntendedGoods(shipToAddress, password)
        }
    })

    function buyIntendedGoods(shipToAddress, password){
        let check_item_list = document.querySelectorAll('.checkItem');
        let intendedGoodsArray = []
        for (let i = 0; i !== check_item_list.length; ++i) {
            const node = check_item_list[i];
            if (node.checked === true) {
                intendedGoodsArray.push(node.value);
            }
        }
        if (intendedGoodsArray.length === 0) {
            objMsgContent.text('你没有选中任何商品');
            openPopBox();
        } else {
            let post_data = {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                'behavior': 'buy',
                'intendedGoodsArray': intendedGoodsArray,
                'shipToAddress': shipToAddress,
                'password':password,
            }
            jsPost('', post_data);
        }
    }

</script>
</html>